<section id="pinned-trigger2"  class="centered-section">
  <div id="pinned-element2">

    <!--Slider-->
    <div class="row" id="menubar">
      <div class="col-sm-2"></div>
      <div class="col-sm-8" id='map'>
        <div id="slidecontainer">
          <div id="slider"></div>
          <div id="dataset-title">
            <h2 id="plotHeader">Population in Zurich</h2>
          </div>

        </div>

      </div>
      <div class="col-sm-2"></div>
    </div>

    <!--Color Legend-->
    <div id="color-legend"></div>

    <!--Containers-->
    <div id="content">
      <div id="map-container-c">
        <div id="map-container">

        </div>
      </div>
      <div id="details"></div>
    </div>


    <!--Map Script-->
    <script src="assets/js/global_map.js"></script>

  </div>
</section>
