<section id="pinned-trigger2"  class="centered-section">
  <div id="pinned-element2">

    <!--Slider-->
    <div class="row" id="menubar">

      <div class="col-sm-8" id='map'>
        <div id="slidecontainer">
          <div id="slider"></div>
          <div id="dataset-title">
            <h2 id="plotHeader">Population in Zurich</h2>
          </div>

        </div>

      </div>
      <div class="col-sm-2"></div>
    </div>

    <!--Color Legend-->
    <div id="color-legend"></div>

    <div id="data_description">
      <p id="map_desc">There are 400,028 inhabitants in Zurich in total.
        Number of Population per zip code ranges roughly from 4000 thousand to 34000.
        It has to be noted that bigger areas do not necessarily correspond to the higher numbers of
        population. However, one could say that north west postal areas are the most densely populated</p>
        <br>
    </div>

    <!--Containers-->
    <div id="content">
      <div id="map-container-c">
        <div id="map-container">

        </div>
      </div>
      <div id="details"></div>
    </div>


    <!--Map Script-->
    <script src="assets/js/global_map.js"></script>

  </div>
</section>
